@import "tailwindcss";
@plugin "daisyui";

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Move right */
  }
  100% {
    transform: translateX(0); /* Move back to the start */
  }
}

.move-left-right {
  animation: moveLeftRight 2s ease-in-out infinite;
}